
.app-container {
    padding: 75px 20px 20px;
}

.actions {
    position: fixed;
    padding: 30px 20px 20px;
    margin: 0;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(28, 40, 55, 0.6);
    z-index: 10;
}

.editor-tabs {
    position: absolute;
    top: 23px;
    right: 50px;
    color: #65737E;
    font-size: .8em;

    button {
        font-size: 2rem;
        background: none;
        width: 35px;
        height: 35px;
        text-align: center;
        padding: 0;
        margin: 0 0 0 5px;
        vertical-align: middle;
        cursor: pointer;

        &:hover {
            color: #6699CC;
        }
    }

    .edit-button {
        position: relative;
        top: -13px;
        margin-right: 10px;
    }
}

.editor-tab-active {
    color: #F99157;
}

.search-field {
    width: 500px;
    display: inline-block;
}
