
.actions {
    margin: 18px 0;
}

.editor-tabs {
    position: absolute;
    top: 16px;
    right: 50px;
    color: #65737E;
    font-size: .8em;

    button {
        font-size: 2rem;
        background: none;
        width: 35px;
        height: 35px;
        text-align: center;
        padding: 0;
        margin: 0 0 0 5px;
        vertical-align: middle;
        cursor: pointer;

        &:hover {
            color: #6699CC;
        }
    }

    .edit-button {
        position: relative;
        top: -13px;
        margin-right: 10px;
    }
}

.editor-tab-active {
    color: #F99157;
}

