
.indent {
    padding-left: 24px;
    margin: 2px;
    border-left: 1px dotted #505a67;
}

.entry {
    position: relative;
    color: #C0C5CE;

    &:hover {
        > .key {
            font-weight: 400;
            color: #5FB3B3;
        }
        > .value {
            color: #fff;
        }
    }
}

.key {
    > .arrow-right,
    > .arrow-down {
        position: absolute;
    },
    > .arrow-down {
        top: 6px;
        left: -15px;
    }
    > .arrow-right {
        top: 5px;
        left: -14px;
    }
}

.nested {
    &:hover {
        > .key {
            color: #6699CC;
        }
    }
    > .key {
        cursor: pointer;
    }
}

a.ref,
a.ref:hover {
    text-decoration: none;
    font-size: .8rem;

    &.error {
        color: #EC5f67;
    }
}
