
.indent {
    margin-left: 10px;
}

.entry {
    color: #C0C5CE;

    &:hover {
        > .key {
            font-weight: 400;
            color: #5FB3B3;
        }
        > .value {
            color: #fff;
        }
    }
}

.nested {
    &:hover {
        > .key {
            color: #6699CC;
        }
    }
    > .key {
        cursor: pointer;
    }
}

a.ref,
a.ref:hover {
    text-decoration: none;
    font-size: .8rem;

    &.error {
        color: #EC5f67;
    }
}
