*,
* *,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 13px;
}

body {
    height: 100%;
    margin: 0;
    padding: 4px 0 0;;
    min-width: 1080px;

    text-rendering: optimizeLegibility;
    font: 1rem 'Roboto Mono', monospace;
    color: #D8DEE9;
    font-weight: 300;
    line-height: 1.45;

    padding: 40px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1b2b34+0,1d2738+100 */
    background: #1b2b34; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #1b2b34 0%, #1d2738 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #1b2b34 0%,#1d2738 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #1b2b34 0%,#1d2738 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b2b34', endColorstr='#1d2738',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

a {
    color: #6699CC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus,
button:focus {
    outline: 1px dotted #000;
}

p {
    margin-bottom: 1.3rem;
}

h1, h2, h3, h4 {
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 3.998rem;
}

h2 {
    font-size: 2.827rem;
}

h3 {
    font-size: 1.999rem;
}

h4 {
    font-size: 1.414rem;
}

small,
.font_small {
    color: #758c99;
    font-size: 0.707rem;
}

pre {
    padding: 0;
    margin: 0;
}

/** Forms **/
.form-field {
    margin: 0 0 15px;
}

.form-field label {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: #5FB3B3;
    padding: 0 0 0 4px;
}

button {
    padding: 2px 4px;
    line-height: 16px;
    font: 1rem 'Open Sans', Helvetica, sans-serif;
    outline: none;
}

.form-field input,
.form-field textarea,
.form-field .select-input input,
.form-field select {
    width: 100%;
    padding: 2px 4px;

    line-height: 16px;
    border: 1px solid #DFE5E6;
    border-width: 0 0 1px;
    border-radius: 0;

    font: 1rem 'Roboto Mono', monospace;
    transition: border-color .3s ease,box-shadow .3s ease;
    outline: none;
}

.form-field input:focus,
.form-field textarea:focus,
.form-field .select-input input:focus,
.form-field select:focus {
    border-color: #08c #0099e6 #0099e6;
}


/**
 * Arrows
 */
.arrow-base {
    content: " ";
    display: inline-block;
    height: 0;
    width: 0;
    border-style: solid;
    cursor: pointer;
}

.arrow-down {
    @extend .arrow-base;
    border-color: #D8DEE9 transparent transparent;
    border-width: 6px 4px 0;
    margin-left: -16px;
    margin-right: 6px;
}
.arrow-up {
    @extend .arrow-base;
    border-color: transparent transparent #D8DEE9;
    border-width: 0 4px 6px;
    margin-left: -16px;
    margin-right: 6px;
}
.arrow-left {
    @extend .arrow-base;
    border-color: transparent #D8DEE9 transparent transparent;
    border-width: 4px 6px 4px 0;
    margin-left: -14px;
    margin-right: 6px;
}
.arrow-right {
    @extend .arrow-base;
    border-color: transparent transparent transparent #D8DEE9;
    border-width: 4px 0 4px 6px;
    margin-left: -14px;
    margin-right: 6px;
}
